$primary: #030D4F;
$secondary: #c93232;
$success: #CEECEF;
$info: darken(#030D4F, 20%);
$warning: #FB0C06;
$danger: #9E2821;
$light: #E7EDEA;

@import '~bootstrap/scss/bootstrap';        // primary bootstrap library
      